DISCORD_TOKEN=
DISCORD_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
RELEASE_SECRET=
DATABASE_SECRET=
LINK_SECRET=super_secret_for_url_discord
E621_BASE_URL=https://e621.net
E926_BASE_URL=https://e926.net
PRIVACY_POLICY_URL=
GIT_REPO_BASE_URL=https://github.com/e621ng/e621ng
REDIS_URL=localhost:6379
PORT=8000
DEBUG=false